In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
from sklearn.linear_model import RidgeCV,LassoCV,LinearRegression,ElasticNet
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor,BaggingRegressor,RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import r2_score
from sklearn.feature_selection import chi2,SelectKBest
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=14,16
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
import warnings
warnings.filterwarnings("ignore")

In [0]:
train = pd.read_excel('Data_Train.xlsx')
test = pd.read_excel('Data_Test.xlsx')

In [0]:
train.head()

               TITLE  RESTAURANT_ID  ...      VOTES  COST
0      CASUAL DINING           9438  ...   49 votes  1200
1  CASUAL DINING,BAR          13198  ...   30 votes  1500
2      CASUAL DINING          10915  ...  221 votes   800
3        QUICK BITES           6346  ...   24 votes   800
4     DESSERT PARLOR          15387  ...  165 votes   300

[5 rows x 9 columns]

In [0]:
train.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [0]:
train['CITY'].value_counts()

Chennai                  2174
Bangalore                2149
Hyderabad                1819
Mumbai                   1722
New Delhi                1321
                         ...
Old Railway Road            1
Chennai 600034.             1
Kadavanthra                 1
Naharpar                    1
Gurgaon Haryana India       1
Name: CITY, Length: 359, dtype: int64

In [0]:
combined = train.append(test)

In [0]:
combined.isnull().sum()

CITY              147
COST             4231
CUISINES            0
LOCALITY          128
RATING              4
RESTAURANT_ID       0
TIME                0
TITLE               0
VOTES            1606
dtype: int64

In [0]:
combined.reset_index(inplace=True,drop=True)

In [0]:
combined.head(20)

                   CITY    COST  ...                      TITLE       VOTES
0                 Thane  1200.0  ...              CASUAL DINING    49 votes
1               Chennai  1500.0  ...          CASUAL DINING,BAR    30 votes
2               Chennai   800.0  ...              CASUAL DINING   221 votes
3                Mumbai   800.0  ...                QUICK BITES    24 votes
4                Mumbai   300.0  ...             DESSERT PARLOR   165 votes
5                Mumbai   800.0  ...              CASUAL DINING   550 votes
6             Bangalore   600.0  ...                       CAFÉ   509 votes
7               Gurgaon  1600.0  ...               MICROBREWERY  1612 votes
8             Bangalore   300.0  ...                QUICK BITES   101 votes
9             Hyderabad   200.0  ...                QUICK BITES   219 votes
10            Bangalore   900.0  ...              CASUAL DINING   244 votes
11            Bangalore   800.0  ...  QUICK BITES,BEVERAGE SHOP   274 votes
12                Kochi   600.0  ...              CASUAL DINING    15 votes
13                Kochi   400.0  ...              CASUAL DINING         NaN
14           Thane West   300.0  ...                QUICK BITES   160 votes
15            Hyderabad  1400.0  ...   CASUAL DINING,IRANI CAFE  2499 votes
16               Mumbai   900.0  ...              CASUAL DINING   319 votes
17            Hyderabad   600.0  ...              CASUAL DINING   121 votes
18  Andheri Lokhandwala   600.0  ...              CASUAL DINING   535 votes
19            New Delhi   200.0  ...         BAKERY,QUICK BITES   350 votes

[20 rows x 9 columns]

In [0]:
combined = combined.assign(No_of_Cuisines=np.nan)
for i in range(len(combined)):
  combined["No_of_Cuisines"][i] = len(str(combined.iloc[i,2]).split(','))

In [0]:
combined['Cuisine1'] = combined['CUISINES'].str.split(',').str[0]
combined['Cuisine2'] = combined['CUISINES'].str.split(',').str[1]
combined['Cuisine3'] = combined['CUISINES'].str.split(',').str[2]
combined['Cuisine4'] = combined['CUISINES'].str.split(',').str[3]
combined['Cuisine5'] = combined['CUISINES'].str.split(',').str[4]
combined['Cuisine6'] = combined['CUISINES'].str.split(',').str[5]
combined['Cuisine7'] = combined['CUISINES'].str.split(',').str[6]
combined['Cuisine8'] = combined['CUISINES'].str.split(',').str[7]

In [0]:
combined['Cuisine1'].fillna("None",inplace=True)
combined['Cuisine2'].fillna("None",inplace=True)
combined['Cuisine3'].fillna("None",inplace=True)
combined['Cuisine4'].fillna("None",inplace=True)
combined['Cuisine5'].fillna("None",inplace=True)
combined['Cuisine6'].fillna("None",inplace=True)
combined['Cuisine7'].fillna("None",inplace=True)
combined['Cuisine8'].fillna("None",inplace=True)

In [0]:
combined['VOTES'].fillna('0 votes',inplace=True)

In [0]:
combined['VOTES'] = combined['VOTES'].str.split().str[0].astype(int)

In [0]:
combined['RATING'].value_counts()

3.9    1643
3.8    1604
4.0    1498
3.7    1437
3.6    1261
4.1    1217
3.5     988
4.2     968
NEW     930
3.4     777
4.3     740
-       672
3.3     485
4.4     484
3.2     349
4.5     274
3.1     263
2.9     242
3.0     229
2.8     191
4.6     184
2.7     129
4.7      90
2.6      85
2.5      51
4.8      49
4.9      28
2.4      24
2.3      15
2.1       4
2.2       4
2.0       2
Name: RATING, dtype: int64

In [0]:
combined['RATING'] = combined['RATING'].replace({"-":"2.5","NEW":"0.0"},regex=True)

In [0]:
combined['TIME'] = combined["TIME"].str.rstrip('.')

In [0]:
combined["TIME"] = combined['TIME'].replace({"noon":"pm","midnight":"am","AM":"am","PM":"pm"},regex=True)

In [0]:
combined['TIME'] = combined['TIME'].str.replace(r"\(.*?\)","").str.strip()

In [0]:
ls = []
for i in range(len(combined)):
  ls.append(len(str(combined.iloc[i,6]).split(',')))
max(ls)

6

In [0]:
combined['Slot1'] = combined['TIME'].str.split(',').str[0]
combined['Slot2'] = combined['TIME'].str.split(',').str[1]
combined['Slot3'] = combined['TIME'].str.split(',').str[2]
combined['Slot4'] = combined['TIME'].str.split(',').str[3]
combined['Slot5'] = combined['TIME'].str.split(',').str[4]
combined['Slot6'] = combined['TIME'].str.split(',').str[5]

In [0]:
combined.head(10)

In [0]:
ls = []
for i in range(len(combined)):
  ls.append(len(str(combined.iloc[i,7]).split(',')))

max(ls)

2

In [0]:
combined["TITLE1"] = combined["TITLE"].str.split(",").str[0]
combined["TITLE2"] = combined["TITLE"].str.split(",").str[1]

In [0]:
combined.dtypes

CITY               object
COST              float64
CUISINES           object
LOCALITY           object
RATING             object
RESTAURANT_ID       int64
TIME               object
TITLE              object
VOTES               int64
No_of_Cuisines    float64
Cuisine1           object
Cuisine2           object
Cuisine3           object
Cuisine4           object
Cuisine5           object
Cuisine6           object
Cuisine7           object
Cuisine8           object
Slot1              object
Slot2              object
Slot3              object
Slot4              object
Slot5              object
Slot6              object
TITLE1             object
TITLE2             object
dtype: object

In [0]:
cuisines = ['Cuisine1','Cuisine2','Cuisine3','Cuisine4','Cuisine5','Cuisine6','Cuisine7','Cuisine8','TITLE1','TITLE2']
combined = pd.get_dummies(combined,columns = cuisines)
combined["RATING"] = combined["RATING"].astype(float)

In [0]:
combined = combined.select_dtypes(exclude=['object'])

In [0]:
combined.drop(['RESTAURANT_ID'],axis=1,inplace=True)

In [0]:
combined

         COST  RATING  VOTES  ...  TITLE2_PUB  TITLE2_QUICK BITES  TITLE2_SWEET SHOP
0      1200.0     3.6     49  ...           0                   0                  0
1      1500.0     4.2     30  ...           0                   0                  0
2       800.0     3.8    221  ...           0                   0                  0
3       800.0     4.1     24  ...           0                   0                  0
4       300.0     3.8    165  ...           0                   0                  0
...       ...     ...    ...  ...         ...                 ...                ...
16916     NaN     3.9    287  ...           0                   0                  0
16917     NaN     4.3    469  ...           0                   0                  0
16918     NaN     3.7     53  ...           0                   0                  0
16919     NaN     2.5      0  ...           0                   0                  0
16920     NaN     3.7     63  ...           0                   0                  0

[16921 rows x 688 columns]

In [0]:
combined.shape

(16921, 688)

In [0]:
combined.isnull().sum()

COST                   4231
RATING                    0
VOTES                     0
No_of_Cuisines            0
Cuisine1_Afghan           0
                       ...
TITLE2_MICROBREWERY       0
TITLE2_PAAN SHOP          0
TITLE2_PUB                0
TITLE2_QUICK BITES        0
TITLE2_SWEET SHOP         0
Length: 688, dtype: int64

In [0]:
combined["RATING"].fillna(0.0,inplace=True)

In [0]:
train_data = combined[0:12690]
test_data = combined[12690:]
test_data.drop(['COST'],axis = 1,inplace = True)
train_cost = train_data['COST']
train_data.drop(['COST'],axis=1,inplace=True)

In [0]:
train_data.shape

(12690, 687)

In [0]:
inner_cv = KFold(n_splits=5,shuffle=True,random_state=42)
outer_cv = KFold(n_splits=20,shuffle=True,random_state=42)

In [0]:
def rmse(model):
  rmse = np.sqrt(-cross_val_score(model,train_data,train_cost,scoring="neg_mean_squared_error",cv=outer_cv))
  return(rmse)

In [0]:
X_train,X_val,y_train,y_val = train_test_split(train_data,train_cost,test_size=0.2,shuffle=True)

In [0]:
gbr = make_pipeline(MinMaxScaler(),GradientBoostingRegressor())
Adbr = make_pipeline(MinMaxScaler(),AdaBoostRegressor())
br = make_pipeline(MinMaxScaler(),BaggingRegressor())
dtr = make_pipeline(MinMaxScaler(),DecisionTreeRegressor())
rfr = make_pipeline(MinMaxScaler(),RandomForestRegressor())
xgbr = make_pipeline(MinMaxScaler(),XGBRegressor())
model_names = ["Gradient Boosting Regressor","AdaBoost Regressor","Bagging Regressor","Decision Tree Regressor","Random Forest Regressor","XGB Regressor"]
models = [gbr,Adbr,br,dtr,rfr,xgbr]
for name,model in zip(model_names,models):
  print("RMSE score for ",name," is : ",rmse(model).mean())
  model.fit(X_train,y_train)
  pred_views = model.predict(X_val)
  print("R^2 Score for",name,"is : ",r2_score(y_val,pred_views),"\n\n")

RMSE score for  Gradient Boosting Regressor  is :  336.62107428938737
R^2 Score for Gradient Boosting Regressor is :  0.7361135456250265


RMSE score for  AdaBoost Regressor  is :  765.749938422067
R^2 Score for AdaBoost Regressor is :  -0.48749491795558986


RMSE score for  Bagging Regressor  is :  349.9985925788683
R^2 Score for Bagging Regressor is :  0.7005448662153176


RMSE score for  Decision Tree Regressor  is :  449.8938386013391
R^2 Score for Decision Tree Regressor is :  0.557574613154977


RMSE score for  Random Forest Regressor  is :  339.720625695333
R^2 Score for Random Forest Regressor is :  0.7289332413597132


[06:58:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:58:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:58:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:58:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:02:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:02:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:02:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:02:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:03:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:03:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE score for  XGB Regressor  is :  335.46566439207055
[07:03:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
R^2 Score for XGB Regressor is :  0.7357832425174846

In [0]:
gbr.fit(train_data,train_cost)
pred_cost = gbr.predict(test_data)

(4231,)

In [0]:
My_submission = pd.DataFrame({"COST":pred_cost.astype(int)})
My_submission["COST"] = My_submission["COST"].astype(int)
My_submission.to_excel('my_submission.xlsx',index=False)

In [0]:
My_submission.columns

Index(['COST'], dtype='object')